<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light" [routerLinkActive]="['active']"
            routerLink="/colaboradores">Gerir Colaboradores</a>
        <a class="list-group-item list-group-item-action bg-light " [hidden]="!owner" [routerLinkActive]="['active']"
            routerLink="/administradores">Gerir Administradores</a>
        <a href="javascript:void(0)" class="list-group-item list-group-item-action bg-light">Estatisticas</a>
    </div>
</div>