
<div id="notfound" style="background-image: linear-gradient(to bottom left,  #e20419, #f8b627)">
    <div class="notfound">
        <div class="notfound-bg">
            <div></div>
            <div></div>
            <div></div> 
        </div>
        <h1>YESS!</h1>
        <h3>A sua ficha de colaborador foi preenchida com sucesso.</h3>
        <h5>Falamos em breve!</h5>
        <div class="notfound-social">
            <a href="https://www.facebook.com/aubayportugal/"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/groupeaubay"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/aubaypt/"><i class="fab fa-instagram"></i></a>
            <a href="mailto:newcolaborador@gmail.com"><i class="fab fa-google"></i></a>
            <a href="https://www.linkedin.com/showcase/aubay-portugal/"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>