<div class="container">

    <form [formGroup]="employeesForm" (ngSubmit)="onSubmit()">
        <h3>Employees</h3>


        <label>
            Nome:
            <input id="name" type="text" formControlName="name" size="50" required>
        </label>
        <div *ngIf="employeesForm.controls['name'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['name'].errors.required">
                Name is required.
            </div>
        </div>
        <label>
                Email:
                <input id="email" type="email" class="form-control" formControlName="email" size="55">
            </label>
            <div *ngIf="employeesForm.controls['email'].invalid && clickSubmit" class="alert alert-danger">
                <div *ngIf="employeesForm.controls['email'].errors.required">
                    Email is required.
                </div>
            </div>

        <label>
            Data de Nascimento:
            <input type="date" formControlName="birthDate" size="50">
        </label>
        <div *ngIf="employeesForm.controls['birthDate'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['birthDate'].errors.required">
                Birth date is required.
            </div>
        </div>

        <label>
            Telefone:
            <input id="phoneNumber" type="tel" formControlName="phoneNumber" required maxlength="15" minlength="9">
        </label>

        <div *ngIf="employeesForm.controls['phoneNumber'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['phoneNumber'].errors.required">
                Phone Number is required.
            </div>
            <div *ngIf="employeesForm.controls['phoneNumber'].errors?.minlength">
                Phone Number must be at least 9 characters long.
            </div>
        </div>



        <label>
            Codigo Postal:
            <input id="postalCode" formControlName="postalCode" type="number" inputmode="numeric" required pattern="\d{8}">
            <!-- este pattern ainda esta em construcao ate porque a melhor solucao é aplicada com javascript// ver se fica type number ou text -->
        </label>
        <div *ngIf="employeesForm.controls['postalCode'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['postalCode'].errors.required">
                Postal Code is required.
            </div>
            <div *ngIf="employeesForm.controls['postalCode'].errors?.pattern">
                Postal Code pattern must be 0000-000.
            </div>
        </div>

        <label>
            Morada:
            <input type="text" formControlName="address">
        </label>

        <label>
            Localidade:
            <input type="text" formControlName="location">
        </label>

        <!-- Morada e localidade falta validacao -->

        <label>
            Habilitações Literárias:
            <select formControlName="academicQualifications" id="academicQualifications" required>
                <option value="">Escolha uma opçāo</option>
                <option value="Ensino Secundário">Ensino Secundário</option>
                <option value="Curso tecnológico/profissional/outro">Curso tecnológico/profissional/outro</option>
                <option value="Bacharelato">Bacharelato</option>
                <option value="Licenciatura">Licenciatura</option>
                <option value="Pós-graduação">Pós-graduação</option>
                <option value="Mestrado">Mestrado</option>
                <option value="Doutoramento">Doutoramento</option>
            </select>
        </label>
        <div *ngIf="employeesForm.controls['academicQualifications'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['academicQualifications'].errors.required">
                Select an Academic Qualification, it is required.
            </div>
        </div>

        <label>
            Instituto:
            <input type="text" formControlName="academicInstitution">
        </label>
        <div *ngIf="employeesForm.controls['academicInstitution'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['academicInstitution'].errors.required">
                Select an Academic Institution, it is required.
            </div>
        </div>

        <label>
            Curso:
            <input type="text" formControlName="course">
        </label>
        <div *ngIf="employeesForm.controls['course'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['course'].errors.required">
                Select an Academic Qualification, it is required.
            </div>
        </div>

        <label>
            Nacionalidade:
            <select type="text" formControlName="nationality" id="nationality" required>
                <option value="">Escolha uma opçāo</option>
                <option value="África do Sul">África do Sul</option>
                <option value="Albânia">Albânia</option>
                <option value="Alemanha">Alemanha</option>
                <option value="Andorra">Andorra</option>
                <option value="Angola">Angola</option>
                <option value="Anguilla">Anguilla</option>
                <option value="Antigua">Antigua</option>
                <option value="Arábia Saudita">Arábia Saudita</option>
                <option value="Argentina">Argentina</option>
                <option value="Armênia">Armênia</option>
                <option value="Aruba">Aruba</option>
                <option value="Austrália">Austrália</option>
                <option value="Áustria">Áustria</option>
                <option value="Azerbaijão">Azerbaijão</option>
                <option value="Bahamas">Bahamas</option>
                <option value="Bahrein">Bahrein</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Barbados">Barbados</option>
                <option value="Bélgica">Bélgica</option>
                <option value="Benin">Benin</option>
                <option value="Bermudas">Bermudas</option>
                <option value="Botsuana">Botsuana</option>
                <option value="Brasil">Brasil</option>
                <option value="Brunei">Brunei</option>
                <option value="Bulgária">Bulgária</option>
                <option value="Burkina Fasso">Burkina Fasso</option>
                <option value="botão">botão</option>
                <option value="Cabo Verde">Cabo Verde</option>
                <option value="Camarões">Camarões</option>
                <option value="Camboja">Camboja</option>
                <option value="Canadá">Canadá</option>
                <option value="Cazaquistão">Cazaquistão</option>
                <option value="Chade">Chade</option>
                <option value="Chile">Chile</option>
                <option value="China">China</option>
                <option value="Cidade do Vaticano">Cidade do Vaticano</option>
                <option value="Colômbia">Colômbia</option>
                <option value="Congo">Congo</option>
                <option value="Coréia do Sul">Coréia do Sul</option>
                <option value="Costa do Marfim">Costa do Marfim</option>
                <option value="Costa Rica">Costa Rica</option>
                <option value="Croácia">Croácia</option>
                <option value="Dinamarca">Dinamarca</option>
                <option value="Djibuti">Djibuti</option>
                <option value="Dominica">Dominica</option>
                <option value="EUA">EUA</option>
                <option value="Egito">Egito</option>
                <option value="El Salvador">El Salvador</option>
                <option value="Emirados Árabes">Emirados Árabes</option>
                <option value="Equador">Equador</option>
                <option value="Eritréia">Eritréia</option>
                <option value="Escócia">Escócia</option>
                <option value="Eslováquia">Eslováquia</option>
                <option value="Eslovênia">Eslovênia</option>
                <option value="Espanha">Espanha</option>
                <option value="Estônia">Estônia</option>
                <option value="Etiópia">Etiópia</option>
                <option value="Fiji">Fiji</option>
                <option value="Filipinas">Filipinas</option>
                <option value="Finlândia">Finlândia</option>
                <option value="França">França</option>
                <option value="Gabão">Gabão</option>
                <option value="Gâmbia">Gâmbia</option>
                <option value="Gana">Gana</option>
                <option value="Geórgia">Geórgia</option>
                <option value="Gibraltar">Gibraltar</option>
                <option value="Granada">Granada</option>
                <option value="Grécia">Grécia</option>
                <option value="Guadalupe">Guadalupe</option>
                <option value="Guam">Guam</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Guiana">Guiana</option>
                <option value="Guiana Francesa">Guiana Francesa</option>
                <option value="Guiné-bissau">Guiné-bissau</option>
                <option value="Haiti">Haiti</option>
                <option value="Holanda">Holanda</option>
                <option value="Honduras">Honduras</option>
                <option value="Hong Kong">Hong Kong</option>
                <option value="Hungria">Hungria</option>
                <option value="Iêmen">Iêmen</option>
                <option value="Ilhas Cayman">Ilhas Cayman</option>
                <option value="Ilhas Cook">Ilhas Cook</option>
                <option value="Ilhas Curaçao">Ilhas Curaçao</option>
                <option value="Ilhas Marshall">Ilhas Marshall</option>
                <option value="Ilhas Turks & Caicos">Ilhas Turks & Caicos</option>
                <option value="Ilhas Virgens (brit.)">Ilhas Virgens (brit.)</option>
                <option value="Ilhas Virgens(amer.)">Ilhas Virgens(amer.)</option>
                <option value="Ilhas Wallis e Futuna">Ilhas Wallis e Futuna</option>
                <option value="Índia">Índia</option>
                <option value="Indonésia">Indonésia</option>
                <option value="Inglaterra">Inglaterra</option>
                <option value="Irlanda">Irlanda</option>
                <option value="Islândia">Islândia</option>
                <option value="Israel">Israel</option>
                <option value="Itália">Itália</option>
                <option value="Jamaica">Jamaica</option>
                <option value="Japão">Japão</option>
                <option value="Jordânia">Jordânia</option>
                <option value="Kuwait">Kuwait</option>
                <option value="Latvia">Latvia</option>
                <option value="Líbano">Líbano</option>
                <option value="Liechtenstein">Liechtenstein</option>
                <option value="Lituânia">Lituânia</option>
                <option value="Luxemburgo">Luxemburgo</option>
                <option value="Macau">Macau</option>
                <option value="Macedônia">Macedônia</option>
                <option value="Madagascar">Madagascar</option>
                <option value="Malásia">Malásia</option>
                <option value="Malaui">Malaui</option>
                <option value="Mali">Mali</option>
                <option value="Malta">Malta</option>
                <option value="Marrocos">Marrocos</option>
                <option value="Martinica">Martinica</option>
                <option value="Mauritânia">Mauritânia</option>
                <option value="Mauritius">Mauritius</option>
                <option value="México">México</option>
                <option value="Moldova">Moldova</option>
                <option value="Mônaco">Mônaco</option>
                <option value="Montserrat">Montserrat</option>
                <option value="Nepal">Nepal</option>
                <option value="Nicarágua">Nicarágua</option>
                <option value="Niger">Niger</option>
                <option value="Nigéria">Nigéria</option>
                <option value="Noruega">Noruega</option>
                <option value="Nova Caledônia">Nova Caledônia</option>
                <option value="Nova Zelândia">Nova Zelândia</option>
                <option value="Omã">Omã</option>
                <option value="Palau">Palau</option>
                <option value="Panamá">Panamá</option>
                <option value="Papua-nova Guiné">Papua-nova Guiné</option>
                <option value="Paquistão">Paquistão</option>
                <option value="Peru">Peru</option>
                <option value="Polinésia Francesa">Polinésia Francesa</option>
                <option value="Polônia">Polônia</option>
                <option value="Porto Rico">Porto Rico</option>
                <option value="Portugal" selected>Portugal</option>
                <option value="Qatar">Qatar</option>
                <option value="Quênia">Quênia</option>
                <option value="Rep. Dominicana">Rep. Dominicana</option>
                <option value="Rep. Tcheca">Rep. Tcheca</option>
                <option value="Reunion">Reunion</option>
                <option value="Romênia">Romênia</option>
                <option value="Ruanda">Ruanda</option>
                <option value="Rússia">Rússia</option>
                <option value="Saipan">Saipan</option>
                <option value="Samoa Americana">Samoa Americana</option>
                <option value="Senegal">Senegal</option>
                <option value="Serra Leone">Serra Leone</option>
                <option value="Seychelles">Seychelles</option>
                <option value="Singapura">Singapura</option>
                <option value="Síria">Síria</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="St. Kitts & Nevis">St. Kitts & Nevis</option>
                <option value="St. Lúcia">St. Lúcia</option>
                <option value="St. Vincent">St. Vincent</option>
                <option value="Sudão">Sudão</option>
                <option value="Suécia">Suécia</option>
                <option value="Suiça">Suiça</option>
                <option value="Suriname">Suriname</option>
                <option value="Tailândia">Tailândia</option>
                <option value="Taiwan">Taiwan</option>
                <option value="Tanzânia">Tanzânia</option>
                <option value="Togo">Togo</option>
                <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                <option value="Tunísia">Tunísia</option>
                <option value="Turquia">Turquia</option>
                <option value="Ucrânia">Ucrânia</option>
                <option value="Uganda">Uganda</option>
                <option value="Uruguai">Uruguai</option>
                <option value="Venezuela">Venezuela</option>
                <option value="Vietnã">Vietnã</option>
                <option value="Zaire">Zaire</option>
                <option value="Zâmbia">Zâmbia</option>
                <option value="Zimbábue">Zimbábue</option>
            </select>
        </label>
        <div *ngIf="employeesForm.controls['nationality'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['nationality'].errors.required">
                Select your nationality, it is required.
            </div>
        </div>

        <!-- rever esta situacao. criar atributo cc e passaporte?? // ver se fica type number ou text-->
        <label>
            CC/Passaporte:
            <input type="text" formControlName="cc" maxlength="22" pattern="[0-9]">
        </label>
        <div *ngIf="employeesForm.controls['cc'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['cc'].errors.required">
                CC or Passaport is required.
            </div>
        </div>

        <label>
            Validade CC/Passaporte:
            <input type="date" formControlName="ccValidity">
        </label>
        <div *ngIf="employeesForm.controls['ccValidity'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['ccValidity'].errors.required">
                CC or Passaport validity date is required.
            </div>
        </div>



        <!-- o nif e niss tem de se ver se fica do tipo number ou text -->
        <label>
            NIF:
            <input type="text" formControlName="nif" required maxlength="9" minlength="9">
        </label>
        <div *ngIf="employeesForm.controls['nif'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['nif'].errors.required">
                NIF is required.
            </div>
            <div *ngIf="employeesForm.controls['nif'].errors?.minlength">
                NIF must be exactly 9 characters long.
            </div>
        </div>

        <label>
            NISS:
            <input type="number" formControlName="niss" required minlength="11" maxlength="11">
        </label>
        <div *ngIf="employeesForm.controls['niss'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['niss'].errors.required">
                NISS is required.
            </div>
            <div *ngIf="employeesForm.controls['niss'].errors?.minlength">
                NISS must be exactly 11 characters long.
            </div>
        </div>


        <label>
            Estado Civil:
            <select type="text" formControlName="maritalStatus" id="maritalStatus" required>
                <option value="">Escolha uma opçāo</option>
                <option value="true">Sim</option>
                <option value="false">Nāo</option>
            </select>
        </label>
        <div *ngIf="employeesForm.controls['maritalStatus'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['maritalStatus'].errors.required">
                Marital Status is required.
            </div>
        </div>

        <label>
            Conjuge Trabalha:
            <select type="text" formControlName="maritalWorkStatus" id="maritalWorkStatus">
                <option value="">Escolha uma opçāo</option>
                <option value="true">Sim</option>
                <option value="false">Nāo</option>
            </select>
        </label>

        <label>
            Dependentes:
            <select type="text" formControlName="dependents" id="dependents">
                <option value="">Escolha uma opçāo</option>
                <option value="true">Sim</option>
                <option value="false">Nāo</option>
            </select>
        </label>

        <label>
            Idade dos dependentes:
            <input type="text" formControlName="dependentsAges">
        </label>

        <!-- Iban ver PT50 xxxx xxxx xxxx xxxx //<input type="text" name="iban" 
            pattern="^DE\d{2}[ ]\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{2}|DE\d{20}$">-->
        <label>
            IBAN:
            <input type="number" formControlName="iban">
        </label>
        <div *ngIf="employeesForm.controls['iban'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['iban'].errors.required">
                IBAN is required.
            </div>
        </div>

        <label>
            SWIFT:
            <input type="number" formControlName="swift">
        </label>
        <div *ngIf="employeesForm.controls['swift'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['swift'].errors.required">
                SWIFT is required.
            </div>
        </div>

        <label>
            Categoria Profissional:
            <select type="text" formControlName="professionalCategory" id="professionalCategory" required>
                <option value="">Escolha uma opçāo</option>
                <option value="Arquiteto de sistemas">Arquiteto de sistemas</option>
                <option value="Designer digital">Designer digital</option>
                <option value="Programador">Programador</option>
            </select>
        </label>

        <label>
            Tecnologia Especial:
            <input type="text" formControlName="specialTech">
        </label>

        <label>
            Outras Tecnologias:
            <input type="text" formControlName="otherTech">
        </label>

        <label>
            Data de Admissao:
            <input type="date" formControlName="admissionDate" required>
            <div *ngIf="employeesForm.controls['admissionDate'].invalid && clickSubmit" class="alert alert-danger">
                <div *ngIf="employeesForm.controls['admissionDate'].errors.required">
                    Admission date is required.
                </div>
            </div>
        </label>

        <label>
            Salario Bruto:
            <input type="number" formControlName="grossSalary">
            <div *ngIf="employeesForm.controls['grossSalary'].invalid && clickSubmit" class="alert alert-danger">
                <div *ngIf="employeesForm.controls['grossSalary'].errors.required">
                    Gross salary is required.
                </div>
            </div>
        </label>

        <label>
            Tipo de Contrato:
            <select type="text" formControlName="contractType" id="contractType" required>
                <option value="">Escolha uma opçāo</option>
                <option value="Contrato de trabalho a termo certo">Contrato de trabalho a termo certo</option>
                <option value="Contrato de trabalho a termo incerto">Contrato de trabalho a termo incerto</option>
                <option value="Contrato sem termo">Contrato sem termo</option>
                <option value="Prestaçāo de serviços">Prestaçāo de serviços</option>
            </select>
        </label>
        <div *ngIf="employeesForm.controls['contractType'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['contractType'].errors.required">
                Contract type is required.
            </div>
        </div>

        <label>
            Bonus:
            <input type="text" formControlName="bonus">
        </label>

        <label>
            Duodecimos:
            <select type="text" formControlName="twelfths" id="twelfths">
                <option value="">Escolha uma opçāo</option>
                <option value="true">Sim</option>
                <option value="false">Nāo</option>
            </select>
        </label>

        <label>
            Duodecimos5050:
            <input type="text" formControlName="twelfths5050">
        </label>

        <label>
            Duodecimos112:
            <input type="text" formControlName="twelfths112">
        </label>

        <label>
            Subsidio Alimentaçāo em cartāo Alacard:
            <select type="text" formControlName="foodAllowence" id="foodAllowence">
                <option value="">Escolha uma opçāo</option>
                <option value="true">Sim</option>
                <option value="false">Nāo</option>
            </select>
        </label>
        <div *ngIf="employeesForm.controls['foodAllowence'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['foodAllowence'].errors.required">
                Food allowence is required.
            </div>
        </div>

        <label>
            Horario de trabalho:
            <select type="text" formControlName="workSchedule" id="workSchedule">
                <option value="">Escolha uma opçāo</option>
                <option value="true">Sim</option>
                <option value="false">Nāo</option>
            </select>
        </label>
        <div *ngIf="employeesForm.controls['workSchedule'].invalid && clickSubmit" class="alert alert-danger">
            <div *ngIf="employeesForm.controls['workSchedule'].errors.required">
                Work Schedule is required.
            </div>
        </div>

        <label>
            Praticas Desporto?:
            <select type="text" formControlName="sports" id="sports">
                <option value="">Escolha uma opçāo</option>
                <option value="true">Sim</option>
                <option value="false">Nāo</option>
            </select>
        </label>

        <label>
            Se sim, qual?:
            <input type="text" formControlName="sportsType">
        </label>

        <label>
            Outras atividades praticas regularmente?
            <input type="text" formControlName="otherActivities">
        </label>

        <label>
            Que atividades gostarias que a Aubay te
            oferecesse?
            <input type="text" formControlName="suggestedAcivities">
        </label>

        <label>
            Passatempos:
            <input type="text" formControlName="hobbies">
        </label>

        <label>
            Outras áreas de interesse:
            <input type="text" formControlName="otherInterests">
        </label>

        <label>
            Cliente:
            <input type="text" formControlName="client">
        </label>

        <label>
            Setor:
            <input type="text" formControlName="clientSector">
        </label>

        <label>
            Projeto:
            <input type="text" formControlName="project">
        </label>

        <label>
            Tarifa:
            <input type="text" formControlName="fare">
        </label>

        <label>
            Observacoes:
            <input type="text" formControlName="commentarySection">
        </label>

        <label>
            Seguro de saude:
            <input type="text" formControlName="healthInsurance">

        </label>

        <label>
            Financiado pela Aubay:
            <input type="text" formControlName="companyFinancing">
        </label>

        <label>
            Extensivel:
            <input type="text" formControlName="extensible">
        </label>

        <label>
            O seguro do familiar é financiado pela empresa?:
            <input type="text" formControlName="companyFinancingRelative">
        </label>

        <label>
            Nome do familiar:
            <input type="text" formControlName="insuranceRelativeName">
        </label>

        <label>
            Data de Nascimento dos familiares:
            <input type="text" formControlName="insuranceRelativeBirthDate">
        </label>

        <button type="submit">Submit</button>




    </form>





</div>