<form>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" [formControl]="formControl" />
    </div>
</form>

<div class="table-responsive">
    <table class="table" [ngClass]='theme'>
        <thead>
            <tr>
                <th *ngFor="let col of header">
                    {{col | titlecase}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data$ | async">
                <td *ngFor="let col of header">
                    {{row[col]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

