<button type="button" class="btn btn-primary" (click)="openInviteModal()">
  <fa-icon [icon]="iconNew"></fa-icon>
</button>
<div>
    
        <input
          type="text"
          style="padding:8px;margin:15px auto;width:30%;"
          placeholder="Filtro pelo nome"
          (keyup)="updateFilter($event)"
        />
        <ngx-datatable
          #table
          class="material"
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [rows]="rows"
          [limit]="10"
          [sorts]="[{prop: 'name', dir: 'desc'}]"
        >

        <ngx-datatable-column name="Name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.name}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Admission Date">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.admissionDate | date:'dd/MM/yyyy'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template let-row="row" ngx-datatable-cell-template>
              <button type="button" class="btn btn-danger" (click)="delete(row.id)">
                  <fa-icon [icon]="iconTrash"></fa-icon>
                </button>
          </ng-template>
        </ngx-datatable-column>




        </ngx-datatable>
      </div>