<button type="button" class="btn btn-primary" (click)="openInviteModal()">
  <fa-icon [icon]="iconNew"></fa-icon>
</button>

<button type="button" class="btn btn-primary" (click)="getAllEmployees()">
  <fa-icon [icon]="iconRefresh"></fa-icon>
</button>

<button type="button" class="btn btn-primary" (click)="exportAsXLSX()">
  <fa-icon [icon]="iconExcelExport"></fa-icon>
</button>

<div class="row" id="filter">
  <select data-filter="district" [(ngModel)]="district">
    <option value="">Distrito</option>
    <option value="Aveiro">Aveiro</option>
    <option value="Beja">Beja</option>
    <option value="Braga">Braga</option>
    <option value="Bragança">Bragança</option>
    <option value="Castelo Branco">Castelo Branco</option>
    <option value="Coimbra">Coimbra</option>
    <option value="Évora">Évora</option>
    <option value="Faro">Faro</option>
    <option value="Guarda">Guarda</option>
    <option value="Leiria">Leiria</option>
    <option value="Lisboa">Lisboa</option>
    <option value="Portalegre">Portalegre</option>
    <option value="Porto">Porto</option>
    <option value="Santarém">Santarém</option>
    <option value="Setúbal">Setúbal</option>
    <option value="Viana do Castelo">Viana do Castelo</option>
    <option value="Vila Real">Vila Real</option>
    <option value="Viseu">Viseu</option>
  </select>
  <select data-filter="specialTech" [(ngModel)]="specialTech">
    <option value="">Tecnologia Especialista</option>
    <option value="Java">Java</option>
    <option value="JavaScript">JavaScript</option>
  </select>
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text" [(ngModel)]="date" (change)="showdate()" placeholder="Daterangepicker" class="form-control" bsDaterangepicker [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY', containerClass: 'theme-red', showWeekNumbers: true}">
  </div>
  <button type="button" class="btn btn-primary" (click)="filterSearch()">Pesquisar</button>
</div>
<div>

  <input type="text" style="padding:8px;margin:15px auto;width:30%;" placeholder="Filtro pelo nome" (keyup)="updateFilter($event)" />
  <ngx-datatable #table class="material" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
    [rowHeight]="'auto'" [rows]="rows" [limit]="10" [sorts]="[{prop: 'name', dir: 'desc'}]" [selected]="selected"
    [selectionType]="'checkbox'" (select)='onSelect($event)'>
    <ngx-datatable-column name="" [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
      [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
    </ngx-datatable-column>
    <ngx-datatable-column name="Name">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.name}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Admission Date">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.admissionDate | date:'dd/MM/yyyy'}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button type="button" class="btn btn-info" (click)="getEmployeeById(row.id)">
          <fa-icon [icon]="iconInfo"></fa-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button type="button" class="btn btn-success" (click)="edit(row.id)">
          <fa-icon [icon]="iconEdit"></fa-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button type="button" class="btn btn-danger" (click)="openDeleteModal(row.id)">
          <fa-icon [icon]="iconTrash"></fa-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>




  </ngx-datatable>
</div>