<div class="modal-header" style="background-color: #E1304B">
    <h4 class="modal-title pull-left" style="color: white">Remover Colaborador</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Deseja mesmo remover este Colaborador?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger waves-effect" (click)="triggerEvent()">Remover Colaborador</button>
</div>
