<h2>Login</h2>

  <form action="/action_page.php">
    <div class="imgcontainer">
      <img src="https://www.aubay.pt/img/aubayCopy.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" id="username" name="username" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" id="password" name="password" required>

      <button type="submit" value="Login" id="submit" (click)="login()">Login</button>
      {{msg}}
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <p style="color:darkgrey; text-align: center">AUBAY PORTUGAL - Edificio Duque D'Ávila</p>
    <p style="color:darkgrey; text-align: center">Avenida Duque de Ávila 46, 7ºC - 1050-083 Lisboa</p>
    <p style="text-align: center"><a href="https://www.aubay.com/">www.aubay.com</a></p>
