<button type="button" class="btn btn-primary" (click)="openCreateModal()">
  <fa-icon [icon]="iconNew"></fa-icon>
</button>
<div>
    <input
      type="text"
      style="padding:8px;margin:15px auto;width:30%;"
      placeholder="Filtro pelo Username"
      (keyup)="updateFilter($event)"
    />
    <ngx-datatable
      #table
      class="material"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="rows"
      [limit]="10"
      [sorts]="[{prop: 'username', dir: 'desc'}]"
    >

    <ngx-datatable-column name="Username">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.username}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Role">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.role}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-row="row" ngx-datatable-cell-template>
          <button type="button" class="btn btn-info" (click)="get(row.id)">
              <fa-icon [icon]="iconInfo"></fa-icon>
            </button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-row="row" ngx-datatable-cell-template>
          <button type="button" class="btn btn-success" (click)="edit(row.id)">
              <fa-icon [icon]="iconEdit"></fa-icon>
            </button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-row="row" ngx-datatable-cell-template>
          <button type="button" class="btn btn-danger" (click)="openDeleteModal(row.id)">
              <fa-icon [icon]="iconTrash"></fa-icon>
            </button>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
  </div>