<div>
    
    <input
      type="text"
      style="padding:8px;margin:15px auto;width:30%;"
      placeholder="Filtro pelo Username"
      (keyup)="updateFilter($event)"
    />
    <ngx-datatable
      #table
      class="material"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="rows"
      [limit]="10"
      [sorts]="[{prop: 'username', dir: 'desc'}]"
    >

    <ngx-datatable-column name="Username">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.username}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Role">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.role}}
      </ng-template>
    </ngx-datatable-column>





    </ngx-datatable>
  </div>